#{extends 'main.html' /} #{set title:'Home' /}

<div id="wrapper">

	#{header/}

	<div id="content">
		<div id="newReleases" class="release">
			<div>
				<h4>New Releases</h4>
			</div>
			<ul>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>

				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">
								<div class="series_list">
									<a href="">
										<img src="http://i1218.photobucket.com/albums/dd407/dizimag/chuck-avatar.jpg" />
									</a>
								</div>

							</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>

				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
			</ul>
		</div>


		<div id="upComingRelease" class="release">
			<h4>Up Coming Release</h4>
			<ul>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>

				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">
								<div class="series_list">
									<a href="">
										<img src="http://i1218.photobucket.com/albums/dd407/dizimag/chuck-avatar.jpg" />
									</a>
								</div>

							</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>

				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
				<li>
					<table class="seriesTable">
						<tr>
							<td rowspan="2">$50</td>
							<td>January</td>

						</tr>
						<tr>
							<td>February</td>

						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>

	<div id="popularSeries">
		<table>
			<tbody>
				<tr>
					<th>Popular Series</th>
				</tr>
				<tr>
					<td>wqeqwe</td>
				</tr>
				<tr>
					<td>qweqweeqw</td>
				</tr>
				<tr>
					<td>qweqweqwe</td>
				</tr>
				<tr>
					<td>weqweasdasd</td>
				</tr>
				<tr>
					<td>sadasdqwe</td>
				</tr>
				<tr>
					<td>dewqeqwe</td>
				</tr>
				<tr>
					<td>adasczxcr</td>
				</tr>
				<tr>
					<td>sdaqwrasdqwe</td>
				</tr>
				<tr>
					<td>sfsrqweqwe</td>
				</tr>
				<tr>
					<td>sema</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- End #content -->
</div>